@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



nav li {
  font-family: "Reenie Beanie", serif;
}

button {
  border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0,0,0,.2);
    transition: all 235ms ease-in-out 0s;
    color: #41403e;
    color: var(--primary);
    background-color: #41403e;
    background-color: var(--main-background);
    align-self: center;
    background-image: none;
    border: 2px solid #41403e;
    border-color: var(--primary);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: .75rem
}

button:hover {
  transform: translate3d(0,2px,0);
  box-shadow: 2px 8px 8px -5px rgba(0,0,0,.3)
}

.headshot {
  border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0,0,0,.2);
    transition: all 235ms ease-in-out 0s;
    color: #41403e;
    color: var(--primary);
    background-color: #41403e;
    background-color: var(--main-background);
    align-self: center;
    background-image: none;
    border: 2px solid #41403e;
    border-color: var(--primary);
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: .75rem
}